<% obj.each do |article| %>
<div class="row">
   <div class="col-xs-8 col-xs-offset-2">
     <h4><%= link_to  article.title, article_path(article) %></h4>
    <blockquote class="bs-callout-danger">
      <p><%= truncate(article.description,length: 700) %> Created By: <small><%= article.user.username if article.user %> , <%= time_ago_in_words(article.created_at) %> ago , last updated at <%= time_ago_in_words(article.updated_at,include_seconds: true)%> </small></p>

    </blockquote>
    <% if loged_in? && (current_user == article.user || current_user.admin?) %>
    <%= link_to "Edit this artcle",edit_article_path(article), class:"btn btn-xs btn-primary" %>
    <%= link_to "Delete this artcle",article_path(article), method: :delete,data: { confirm: "Are you shure you want to delete?" },class: "btn btn-xs btn-danger" %>
    <% end %>
  </div>
</div>
<% end %>
