<%= render 'shared/errors',obj: @article %>

<div class="row">
  <div class="col-sm-12">
    <%= form_for(@article,:html=>{class: "form-horizontal", role: "form"}) do |f| %>
       <div class="form-group">
         <div class= "control-label col-xs-2">
            <%= f.label :title %>
         </div>
         <div class="col-xs-10">
            <%= f.text_field :title, class: "form-control"%>
         </div>
     <div>
    

        <div class="form-group">
           <div class= "control-label col-xs-2">
          <%= f.label :description%>
           </div>
           <div class="col-xs-10">
              <%= f.cktext_area :description, rows:8 ,class: "form-control" %>
           </div>
       </div>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
            <%= f.submit nil,class: "button"%>
             </div>
          </div>
    <% end %>
       <div class="text-center">
          <p><%=link_to "Back to Listing Articles" ,articles_path,class:"button" %></p>
       </div>
  </div>
</div>