
<h1 class="text-center"> NewsMap Blog Users</h1>
<% @users.each do |user|%>
	<ul>
		<div class="row">
			<div class="col-md-offset-4 col-md-3">
				<div class="well text-center">
					<li><%= link_to gravatar_for(user), user_path(user)%></li>	
					<li><%= link_to user.username, user_path(user)%>
					</li>
					<li><small></small><span class="badge"><%= pluralize(user.articles.count , "article") if user.articles %></span></li>
					<% if loged_in? and current_user.admin? %>
					<li>
					<%= link_to "Delete this user", user_path(user) ,method: :delete, data: {confirm: "Do you Want to Delete this user?"} %>
						
					</li>
					<% end %>
				</div>		
			</div>
		</div>
	</ul>	
<% end -%>
	<div class="text-center">
		<%= will_paginate @user%>
	</div>	