
<h1 class="text-center"> Welcome to <%= @user.username %>'s profile</h1>
<div class="row">
	<div class="col-md-offset-4 col-md-3 text-center">
		<div class="well">
		<li><%= gravatar_for(@user) %></li>
		<h3 class="text-center"> Articles of <%= @user.username %></h3>
		</div>
	</div>
</div>

<%= render 'articles/article',obj: @user_articles %>
<div class="text=center col-md-offset-4">
	<%= will_paginate @user_articles %>
</div>
